body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
footer{
    text-align: center;
    padding: 4px;
    color:white;
    background-color: red;
    font-weight: bold;
}
.profile{
    text-align: center;
}
.img{
    text-align: center;
    width: 90%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    padding-left: 10%;
    padding-top: 50px;
}
.te{
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 40px;
    padding-top: 30px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.na{
    font-size: 20px;
    padding: 10px;
    background-color: darkred;
    text-align: center;
    color: white;
}
header{
    display: inline;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav {
    background-color:red;
    padding: 0.5px;
    position: sticky;
    top: 0;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
main{
    padding: 20px;
    overflow: auto;
}
.content {
    float: left;
    width: 65%;
}
aside{
    float: right;
    width: 35%;
    padding: 20px;
}
* {
    box-sizing: border-box;
}
.jpg{
    padding-top: 5px;
    padding-right: 20px;
    width: 70%;
}